//
// color swatches
//

// active colors:
$blue: #2173a6;

$red: #F04124;
$green: #43AC6A;
$orange: #F08A24;

// passive colors:
$light-gray-blue: #f1f5fa;

// gray scale colors:
$psuedo-slate: #464646;
$gray: #999;
$light-gray: #f1f1f1;