@import 'settings'; // local config

.svg-icon {
  &.prefix {
    margin-right: $global-padding;
  }
  &.postfix {
    margin-left: $global-padding;
  }

  display: inline-flex;
  align-self: center;
  position: relative;
  height: 1rem;
  width: 1rem;
  svg,
  img {
    height: 1rem;
    width: 1rem;
  }
  &.svg-baseline {
    svg,
    img {
    // bottom: -(1rem/8);
    position: absolute;
    }
  }
  .button & {
    fill: $white;
  }
  // small & {
  //   height: $small-font-size;
  //   height: $small-font-size;
  // }
}